<div class="cardcontainer">
  <div class="card">
    <i *ngIf="!add" (click)="removeLection()" class="bi bi-trash3 cardDelete"></i>
    <div class="content">
      <h2>{{lection?.topicType}}</h2>
      <h3>{{lection?.title}}</h3>
      <p>{{lection?.description}}</p>

      <app-progress-chart *ngIf="!add" [percentage]="lectionPercentage" ></app-progress-chart>

      <a *ngIf="add" (click)="removeLection()" class="neon-button">
        Lektion hinzufügen
      </a>

      <a *ngIf="!add" [routerLink]="['/lection/', lection?.lectionId]" class="neon-button">
        Lektion starten
      </a>

    </div>
  </div>
</div>
