<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li *ngFor="let chapter of chapters$ | async" class="nav-item">
        <a class="nav-link" (click)="this.selectChapter(chapter.chapterId)">{{chapter.chapterName}}</a>
      </li>
    </ul>
  </div>
</nav>

<h1>{{this.lection?.title}}</h1>

<app-chapter [ngClass]="{'invisible': selectedChapterId !== chapter.chapterId}" *ngFor="let chapter of chapters$ | async" [chapter]="chapter"></app-chapter>
