<div class="box">
  <a routerLink="/learn-css"><button class="themen-button">Learn CSS</button></a>
  <a routerLink="/learn-html"><button class="themen-button">Learn HTML</button></a>
  <a routerLink="/learn-js"><button class="themen-button">Learn JS</button></a>
  <a routerLink="/learn-lf02"><button class="themen-button">Learn LF02</button></a>
  <a routerLink="/learn-lf09"><button class="themen-button">Learn LF09</button></a>
  <a routerLink="/learn-php"><button class="themen-button">Learn PHP</button></a>
</div>



