<h2>
  {{chapter.chapterName}}
  <button *ngIf="editMode" type="button" class="btn btn-danger" (click)="deleteChapter()"><i class="bi bi-trash3-fill"></i></button>
</h2>
<div *ngFor="let c of content$ | async">
  <ng-container [ngSwitch]="c.contentType">
    <app-editable-header *ngSwitchCase="0" [originalContent]="c" [editable]="editMode" (notifyParent)="fetchData()"></app-editable-header>
    <app-editable-text *ngSwitchCase="1" [originalContent]="c" [editable]="editMode" (notifyParent)="fetchData()"></app-editable-text>
    <app-editable-list *ngSwitchCase="2" [originalContent]="c" [editable]="editMode" (notifyParent)="fetchData()"></app-editable-list>
    <app-editable-table *ngSwitchCase="3" [originalContent]="c" [editable]="editMode" (notifyParent)="fetchData()"></app-editable-table>
  </ng-container>
</div>
<app-new-chapter-content *ngIf="editMode" [chapter]="chapter" (notifyParent)="fetchData()"></app-new-chapter-content>
