<div class="sidebar-wrapper">
    <div class="sidebar d-flex flex-column">
      <div class="sidebar-toggler mt-2 mb-2 ms-1" (click)="toggleSidebar()">
        <h3>{{ title?.toUpperCase() }}</h3>
        <span><i class="bi bi-list"></i></span>
      </div>
      <hr class="mt-0">
      <div class="mb-auto">
        <p>Main</p>
        <ul class="nav nav-pills flex-column">
          @for (item of menuItems; track item){
            <li class="nav-item mt-1 mb-1 me-2 pt-2 pb-2 ps-3 pe-2 rounded-end">
              <a routerLink="" class="sidebar-action"><i class="bi {{item.symbol}}"></i><span class="ms-3">{{item.name}}</span></a>
            </li>
          }
        </ul>
      </div>
      @if(keycloak.isLoggedIn() || isDevMode()){
      <hr class="mb-0 mt-0">
      <div class="dropdown dropup mb-2 mt-2 ms-2 profile">
        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-3">
          <strong><span>{{profileName}}</span></strong>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
          <li><a class="dropdown-item" href="#">New project...</a></li>
          <li><a class="dropdown-item" href="#">Settings</a></li>
          <li><a class="dropdown-item" href="#">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><div class="dropdown-item logout" (click) ="logout()"><span>Abmelden</span></div></li>
        </ul>
      </div>
<!--      <div class="sidebar-footer">-->
<!--        <div (click)="logout()" class="sidebar-action bg-danger logout"><i class="bi bi-box-arrow-left"></i><span>Abmelden</span></div>-->
<!--      </div>-->
      } @else {
        <hr class="mb-0 mt-0">
        <div class="sidebar-footer">
          <div class="sidebar-action login"><i class="bi bi-box-arrow-in-right"></i><span>Anmelden</span></div>
        </div>
      }
    </div>
  <div class="container">
    <div class="main-content">
      <div class="fixed-top mobile mb-0">
        <div>
          <button (click)="toggleSidebar()" class="btn"><i class="bi bi-list"></i></button>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
