@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: var(--main-sidebar-background-color);
  z-index: 100;
  transition: all 0.5s ease;
}

.sidebar.close {
  width: 78px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 10px;
}

.sidebar .logo-details {
  height: 60px;
  width: 100%;
}

.sidebar .logo-details a {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar .logo-details a i {
  font-size: 30px;
  color: var(--main-sidebar-font-color);
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
}

.sidebar .logo-details a .logo_name {
  font-size: 22px;
  color: var(--main-sidebar-font-color);
  font-weight: 600;
  transition: 0.3s ease;

}

.sidebar.close .logo-details .logo_name {
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-container .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-container .nav-links{
  overflow: visible;
}

.sidebar .nav-container .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-container .nav-links li .icon-link,
.sidebar .nav-container .profile-details .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar.close .nav-container .nav-links li .icon-link,
.sidebar.close .nav-container .profile-details .icon-link {
  display: block;
}

.sidebar .nav-container .nav-links li,
.sidebar .nav-container .profile-details .sub-menu{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-container .nav-links li:hover,
.sidebar .nav-container .profile-details:hover{
  background: var(--secondary-sidebar-background-color);
}

.sidebar .nav-container .nav-links li i,
.sidebar .nav-container .profile-details i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: var(--main-sidebar-font-color);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-container .nav-links li.showMenu i.arrow,
.sidebar .nav-container .profile-details.showMenu i.arrow {
  transform: rotate(-180deg);
}

.sidebar.close .nav-container .nav-links i.arrow,
.sidebar.close .nav-container .profile-details i.arrow {
  display: none;
}

.sidebar .nav-container .nav-links li a,
.sidebar .nav-container .profile-details a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-container .nav-links li a .link_name,
.sidebar .nav-container .profile-details a .name-job{
  font-size: 18px;
  font-weight: 400;
  color: var(--main-sidebar-font-color);
  transition: all 0.3s ease;
}

.sidebar.close .nav-container .nav-links li a .link_name,
.sidebar.close .nav-container .profile-details a .name-job {
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-container .nav-links li .sub-menu,
.sidebar .nav-container .profile-details .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -5px;
  background: var(--secondary-sidebar-background-color);
  display: none;
}

.sidebar .nav-container .nav-links li.showMenu .sub-menu,
.sidebar .nav-container .profile-details.showMenu .sub-menu {
  display: block;
}

.sidebar .nav-container .nav-links li .sub-menu a,
.sidebar .nav-container .profile-details .sub-menu a,
.sidebar .nav-container .profile-details .sub-menu .logout{
  color: var(--main-sidebar-font-color);
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.sidebar .nav-container .nav-links li .sub-menu a:hover,
.sidebar .nav-container .profile-details .sub-menu a:hover,
.sidebar .nav-container .profile-details .sub-menu .logout:hover{
  opacity: 1;
  cursor: pointer;
}

.sidebar.close .nav-container .nav-links li .sub-menu {
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-container .profile-details .sub-menu {
  position: absolute;
  left: 100%;
  bottom: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}

.sidebar.close .nav-container .nav-links li:hover .sub-menu {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar.close .nav-container .profile-details:hover .sub-menu {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}

.sidebar .nav-container .nav-links li .sub-menu .link_name,
.sidebar .nav-container .profile-details .sub-menu .link_name{
  display: none;
}

.sidebar.close .nav-container .nav-links li .sub-menu .link_name,
.sidebar.close .nav-container .profile-details .sub-menu .link_name{
  display: none;
}

.sidebar.close .nav-container .nav-links li .sub-menu .link_name,
.sidebar.close .nav-container .profile-details .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}

.sidebar .nav-container .nav-links li .sub-menu.blank,
.sidebar .nav-container .profile-details .sub-menu.blank{
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.sidebar .nav-container .nav-links li:hover .sub-menu.blank,
.sidebar.nav-container .profile-details:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.sidebar .nav-container .profile-details .icon-link{
  width: 100%;
  background: var(--secondary-sidebar-background-color);
  padding: 10px 4px 10px 0;
  transition: all 0.5s ease;
}

.sidebar .nav-container .profile-details.login {
  justify-content: flex-start;
}

.sidebar .nav-container .profile-details.login a{
  width: 100%;
  cursor: pointer;
}

.sidebar.close .nav-container .profile-details {
  background: none;
  position: relative;
}

.sidebar .nav-container .profile-details .profile-content {
  display: flex;
  align-items: center;
}

.sidebar .nav-container .profile-details img {
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 10px 0 12px;
  background: var(--secondary-sidebar-background-color);
  transition: all 0.5s ease;
}

.sidebar.close .nav-container .profile-details img {
  padding: 10px;
}

.sidebar .nav-container .profile-details .profile_name,
.sidebar .nav-container .profile-details .job {
  color: var(--main-sidebar-font-color);
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 1;
  transition: all 0.5s ease;
}

.sidebar.close .nav-container .profile-details i,
.sidebar.close .nav-container .profile-details .profile_name,
.sidebar.close .nav-container .profile-details .job {
  opacity: 0;
}

.sidebar.close .nav-container .profile-details.login i {
  display: block;
  opacity: 1;
}

.sidebar .nav-container .profile-details .job {
  font-size: 12px;
}

.home-section {
  position: relative;
  background: var(--main-background-color);
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}

.sidebar.close ~ .home-section {
  left: 78px;
  width: calc(100% - 78px);
}

.home-section .home-content {
  height: 60px;
  display: flex;
  align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
  color: var(--main-sidebar-background-color);
  font-size: 35px;
}

.home-section .home-content .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.home-section .home-content .text {
  font-size: 26px;
  font-weight: 600;
}
