<div class="sidebar-wrapper">
    <div class="sidebar d-flex flex-column">
      <div class="sidebar-toggler mt-2 mb-2" (click)="toggleSidebar()">
        <h3>{{ title?.toUpperCase() }}</h3>
        <span><i class="bi bi-list"></i></span>
      </div>
      <hr class="mt-0">
      <div class=" navbar-nav-scroll mb-auto">
        <ul class="list-unstyled">
          @for (item of menuItems; track item){
            <li>
              <a routerLink="" class="sidebar-action"><i class="bi {{item.symbol}}"></i><span>{{item.name}}</span></a>
            </li>
          }
          <!--<li>
            <a routerLink="" class="sidebar-action text-white"><i class="bi bi-house"></i><span>Home</span></a>
          </li>
          <li>
            <div (click)="toggleDropdown()" class="sidebar-action" data-bs-toggle="collapse" data-bs-target="#qualification-collapse" data-bs-aria-expanded="false"><i class="bi bi-people-fill"></i><span>Personalwesen</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg></div>
            <div class="collapse" id="qualification-collapse" style="">
              <ul class="list-unstyled bg-secondary">
                <li><a routerLink="employees" class="sidebar-link text-white"><i class=""></i><span>Übersicht</span></a></li>
                <li><a routerLink="addemployee" class="sidebar-link text-white"><i class=""></i><span>Mitarbeiter anlegen</span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <div (click)="toggleDropdown()" class="sidebar-action" data-bs-toggle="collapse" data-bs-target="#employees-collapse" data-bs-aria-expanded="false"><i class="bi bi-lightbulb-fill"></i><span>Qualifikationen</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
              <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
            </svg></div>
            <div class="collapse" id="employees-collapse" style="">
              <ul class="list-unstyled bg-secondary">
                <li><a routerLink="qualifications" class="sidebar-link text-white"><i class=""></i><span>Übersicht</span></a></li>
              </ul>
            </div>
          </li>
          <li>
            <a routerLink="settings" class="sidebar-action text-white"><i class="bi bi-gear-wide-connected"></i><span>Einstellungen</span></a>
          </li>-->
        </ul>
      </div>
      @if(keycloak.isLoggedIn()){
      <hr class="mb-0 mt-0">
      <div class="sidebar-action profile pt-2 pb-2">
        <a class="d-flex align-items-center text-white text-decoration-none" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
          <strong><span>{{profileName}}</span></strong>
        </a>
      </div>
      <div class="sidebar-footer">
        <div (click)="logout()" class="sidebar-action bg-danger logout"><i class="bi bi-box-arrow-left"></i><span>Abmelden</span></div>
      </div>
      } @else {
        <hr class="mb-0 mt-0">
        <div class="sidebar-footer">
          <div class="sidebar-action bg-success login"><i class="bi bi-box-arrow-in-right"></i><span>Anmelden</span></div>
        </div>
      }
    </div>
  <div class="main-content">
    <div class="fixed-top mobile mb-0">
      <div>
        <button (click)="toggleSidebar()" class="btn"><i class="bi bi-list"></i></button>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
