/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200..800&display=swap');

:root {
  --main-background-color: rgba(200, 224, 219, 0.4);
  --main-font-color: #000000;
  --main-hover-color : rgba(200, 224, 219, 1);
  --main-border-color : rgba(200, 224, 219, 1);
}

body {
  font-family: "Stick No Bills", sans-serif;
  background-color: var(--main-background-color);
}
